.borderRightSide {
    border-right: 2px solid whitesmoke;
    height: 100vh;
}

.containerHoverBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60px;
    height: 60px;
}

.containerHoverBackground::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0073e6;
    border-radius: 50%;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.containerHoverBackground img {
    width: 40px;
    height: 40px;
    z-index: 1;
    transition: transform 0.3s ease;
}

.containerHoverBackground:hover::before {
    opacity: 1;
}

.containerLogoBackground {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLogoBackground img {
    width: 40px;
    height: 40px;
    z-index: 1;
}

.containerOptions {
    padding-top: 10vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.containerSearchBar {
    padding: 2vh 5% 5vh;
}

.containerSideBar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2vh;
}

.horizontalLine {
    border-top: 2px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 20px;
}

.logoutButton {
    position: absolute;
    bottom: 5vh;
}

.newProjectButton {
    background-color: #bde0fe;
    color: #0073e6;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    width: 100%;
    height: 40px;
}

.newProjectContainer {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
}

.newProjectPlusSign {

}

.projectsPanel {
    display: flex;
    flex-direction: column;
    position: relative;
}

.projectsSection {
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 50px;

}

.sidePanel {
    display: flex;
    flex-direction: row;
}

.searchInput {
    border: none;
    background-color: transparent;
    margin-right: 8px;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    background-image: url('../graphics/magnifier.png');
    background-position: 5px center;
    background-repeat: no-repeat;
    text-indent: 20%;
}

.searchInput:focus {
    outline: none;
}

.searchInput::placeholder {
    color: #909090;
    opacity: 1;
}

.sectionTitle {
    font-weight: bold;
 }

