.deadlineContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.newTaskButton {
    width: 100%;
    height: 40px;
    background-color: white;
    color: #0073e6;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    font-size: 20px;
}

.newTaskContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 10px 30px 10px;
}

.tasks {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
}

.taskBoardContainer {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
}

.taskContainer {
    width: 90%;
    background-color: whitesmoke;
    border-radius: 24px;
    margin-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.taskContainer p, .taskContainer h5 {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}

.taskPanel {
    background-color: #e9ecef;
    border-radius: 50px;
    width: 25%;
    max-height: 88vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.taskPanel::-webkit-scrollbar {
    display: none;
}


.taskSectionContainer {
    background-color: #f8f9fa;
    height: 90vh;
}

.taskStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 24px;
    padding-top: 16px;
}

.taskStatus h5 {
    font-weight: bold;
    margin: 0;
}

.taskTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    gap: 24px;
    align-items: flex-start;
}
