.addTaskFormContainer {
    position: fixed;
    width: 30vw;
    max-width: 1080px;
    max-height: 1080px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.containerNewProjectForm h3 {
    padding-top: 16px;
    padding-left: 16px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.projectInfoContainer {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}